<section>
  <%= link_to 'Back', collections_path %>
  <p>
    <%= @collection.name.titleize %> -
    <span>
        <%= link_to 'Edit Collection Name', edit_collection_path(@collection.id) %>
    </span> 
  </p>

  <div>
    <% @animes.each do |anime| %>
      <p> <%= anime.title %> </p>
      <%= link_to 'View', collection_anime_path(@collection.id, anime.id) %>
    <% end %>
  </div>
</section>