<section class="flex flex-col relative bg-slate-600 max-h-full min-h-screen text-white">

<div class= "flex flex-col justify-center border border-white w-[400px] h-[400px] mt-[250px] justify-center mx-auto px-[15px] rounded-[15px]">
<h2 class="text-[36px] self-center">Sign up</h2>

<div class="flex flex-col mx-auto">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'text-black' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'text-black' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'text-black' %>
  </div>

  <div class="actions px-1 py-1 bg-white text-black w-fit rounded-[5px] my-1">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>

</div>
</section>