<%= link_to 'Home', landing_page_path %>

<h1>Manga list</h1>

<div>
  <% @manga.each do |manga| %>
    <p> <%= manga['attributes']['canonicalTitle'] %> </p>
    <% if manga['attributes']['posterImage']['tiny'] %>
        <%= link_to image_tag(manga['attributes']['posterImage']['tiny']), show_manga_path(manga['id']) %>
    <% else %>
        <h2>No Image Preview</h2>
        <%= link_to 'View', show_manga_path(manga['id']) %>
    <% end %>
    <%# <%= link_to 'View', show_manga_path(manga['id']) %> 
    <p> <%= manga['attributes']['synopsis'] %> </p>
  <% end %>
</div>

<div>
  <% if @pagination[:current_page] > 1 %>
    <span> <%= link_to 'Back', { page: @pagination[:current_page] - 1 }  %> </span>
  <% end %>

  <% 1.upto(@pagination[:total_page]) do |page|  %>
    <% if page == @pagination[:current_page]  %>
      <span> <%= page %> </span>
    <% else %>
      <span> <%= link_to page, {page: page} %> </span>
    <% end %>
  <% end %>

  <% if @pagination[:current_page] < @pagination[:total_page] %>
   <span> <%= link_to 'Next', { page: @pagination[:current_page] + 1 } %> </span>
  <% end %>
</div>