<div class="relative bg-slate-600 text-white py-5 mb-5">
      <div class="ml-10 gap-x-3 flex flex-row">
        <%= link_to 'Home', landing_page_path %>
        <h1>Anime list</h1>
      </div>
    </div>
<div >

<div>

  <div class="my-5 mx-5">


<div class="grid grid-cols-4 grid-rows-5 gap-x-3 gap-y-3">
    <% @anime.each do |anime| %>
    <div class="border border-black h-[400px] w-[400px]">

    <p> <%= anime['attributes']['canonicalTitle'] %>: </p>
    <%= link_to image_tag(anime['attributes']['posterImage']['tiny']), show_anime_path(anime['id']) %>
    <div class="block h-1/2 text-ellipsis overflow-hidden">
        <p> <%= anime['attributes']['synopsis'] %> </p>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>


<div class="flex border border-black ">

<div class= "mx-auto flex self-center gap-x-5 py-4">
    <% if @pagination[:current_page] > 1 %>
    <span> <%= link_to 'Jump to first', { page: 1 }  %> </span>
  <% end %>

   <% if @pagination[:current_page] > 10 %>
    <span> <%= link_to '<<', { page:@pagination[:current_page] - 10 }  %> </span>
  <% end %>

  <% if @pagination[:current_page] > 1 %>
    <span> <%= link_to 'Back', { page: @pagination[:current_page] - 1 }  %> </span>
  <% end %>

  <% (@pagination[:current_page]...@pagination[:total_page]).take(10).each do |index|  %>

    <% if index == @pagination[:current_page]  %>
      <span class="bg-slate-600 text-white self-center"> <%= index %> </span>
    <% else %>
      <span> <%= link_to index, {page: index} %> </span>
    <% end %>
  <% end %>

  <% if @pagination[:current_page] < @pagination[:total_page] %>
   <span> <%= link_to 'Next', { page: @pagination[:current_page] + 1 } %> </span>
  <% end %>

  

   <% if @pagination[:current_page] < @pagination[:total_page] %>
    <span> <%= link_to '>>', { page:@pagination[:current_page] + 10 }  %> </span>
  <% end %>

  <% if @pagination[:current_page] < @pagination[:total_page] %>
    <span> <%= link_to 'Jump to Last', { page: @pagination[:total_page] }  %> </span>
  <% end %>
</div>
   
</div>