<p> <%= @anime['attributes']['titles']['en'] %> </p>
<%= image_tag(@anime['attributes']['posterImage']['small']) %>
<p> <%= @anime['attributes']['episodeCount'] %> </p>
<p> <%= @anime['attributes']['status'] %> </p>
<p> <%= @anime['attributes']['startDate'] %> </p>

<%= link_to 'Back', all_anime_path %>