<h1> <%= @anime['attributes']['canonicalTitle'] %> </h1>
<%= image_tag(@anime['attributes']['posterImage']['small']) %>
<p>Description: <%= @anime['attributes']['description'] %> </p>
<p>Episodes: <%= @anime['attributes']['episodeCount'] %> </p>
<p>Status: <%= @anime['attributes']['status'] %> </p>
<p>Start Date <%= @anime['attributes']['startDate'] %> </p>
<br>
<br>
<%= link_to 'Add to Collection', add_anime_to_folder_path(@anime['id'], anime_id: @anime['id']) %>
<br>
<br>
<%= link_to 'Back', all_anime_path %>